
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link href="css/slick.css" rel="stylesheet"> -->
    <meta name="msvalidate.01" content="058B9EA219FDFC906E1DF38275FD7FF7">
    <link rel="icon" href="https://neostox.com/favicon.ico">
    <link href="https://neostox.com/assets/img/favicon.png" rel="icon">
    <link href="https://neostox.com/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Open Sans" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/Content/css/customStyle.css" rel="stylesheet">
    <link href="/Content/css/mediaqueries.css" rel="stylesheet">
    <title>neostox</title>
    <style>
        .owl-dots {
            text-align: center;
            padding-top: 20px;
        }

            .owl-dots .owl-dot {
                height: 10px;
                width: 10px;
                border-radius: 10px;
                background: #ccc !important;
                margin-left: 3px;
                margin-right: 3px;
                outline: none;
            }

                .owl-dots .owl-dot.active {
                    background: #1C2348 !important;
                    height: 15px;
                    width: 15px;
                }

        #owl-two .owl-dots .owl-dot.active {
            background: #239F87 !important;
            height: 15px;
            width: 15px;
        }
    </style>
</head>
<body>
    <!-- <div class="neostox-container">
      <div class="container-fluid">
        <div class="fixed-top topslidebar">
          <div class="row">
            <div class="col-12">
              <ul class="slider">
                <li><span class="pe-2">NifyBank</span><span class="pe-2">36,893.90</span><span class="greencolorup">1.96%
                    <i class="ps-2 fas fa-sort-up"></i></span></li>
                <li><span class="pe-2">RELIANCE</span><span class="pe-2">2581.90</span><span class="redcolordown">1.96% <i
                      class="ps-2 fas fa-sort-down"></i></span></li>
                <li><span class="pe-2">NifyBank</span><span class="pe-2">36,893.90</span><span class="greencolorup">1.96%
                    <i class="ps-2 fas fa-sort-up"></i></span></li>
                <li><span class="pe-2">RELIANCE</span><span class="pe-2">2581.90</span><span class="redcolordown">1.96% <i
                      class="ps-2 fas fa-sort-down"></i></span></li>
                <li><span class="pe-2">NifyBank</span><span class="pe-2">36,893.90</span><span class="greencolorup">1.96%
                    <i class="ps-2 fas fa-sort-up"></i></span></li>
                <li><span class="pe-2">RELIANCE</span><span class="pe-2">2581.90</span><span class="redcolordown">1.96% <i
                      class="ps-2 fas fa-sort-down"></i></span></li>
                <li><span class="pe-2">NifyBank</span><span class="pe-2">36,893.90</span><span class="greencolorup">1.96%
                    <i class="ps-2 fas fa-sort-up"></i></span></li>
                <li><span class="pe-2">RELIANCE</span><span class="pe-2">2581.90</span><span class="redcolordown">1.96% <i
                      class="ps-2 fas fa-sort-down"></i></span></li>
                <li><span class="pe-2">NifyBank</span><span class="pe-2">36,893.90</span><span class="greencolorup">1.96%
                    <i class="ps-2 fas fa-sort-up"></i></span></li>
                <li><span class="pe-2">RELIANCE</span><span class="pe-2">2581.90</span><span class="redcolordown">1.96% <i
                      class="ps-2 fas fa-sort-down"></i></span></li>
                <li><span class="pe-2">NifyBank</span><span class="pe-2">36,893.90</span><span class="greencolorup">1.96%
                    <i class="ps-2 fas fa-sort-up"></i></span></li>
                <li><span class="pe-2">RELIANCE</span><span class="pe-2">2581.90</span><span class="redcolordown">1.96% <i
                      class="ps-2 fas fa-sort-down"></i></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container-fluid">
        <div class="fixed-top navbar_div">
            <nav class="navbar navbar-expand-lg" style="background-color:#fff;">
                <div class="container">
                    <img class="navbar-brand" src="/Content/images/new_logo.svg" alt="neostox Logo" />
                    <button class="navbar-toggler" style="display:none;" type="button" data-bs-toggle="collapse"
                            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fal fa-bars"></i>
                    </button>
                    <button type="button" class="btn btn-primary hamburgermenu" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        <i class="fal fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Videos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">How it works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">FAQs</a>
                            </li>
                        </ul>
                        <form class="d-flex rightmenumobile">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Sign In</a>
                                </li>
                                <li class="ps-0">
                                    <button class="btn btn-success button_success" type="button">Create Account</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    @RenderBody()
    <div class="content_main_container">
        <div class="footermaindiv container-fluid">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-12 col-12 col-lg-4 col-sm-12">
                        <img src="/Content/images/neostox_footer_logo.png">
                        <p class="footerlogotxt mt-4 pe-5">
                            India’s first 100%
                            real-time trading platform
                            with virtual money to
                            experience live trading in NSE.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-2 col-6">
                        <p class="footermenuheader">Company</p>
                        <ul class="footerulli">
                            <li>About Us</li>
                            <li>Contact Us</li>
                            <li>Careers</li>
                            <li>Press</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-2 col-6">
                        <p class="footermenuheader">Product</p>
                        <ul class="footerulli">
                            <li>Features</li>
                            <li>Pricing</li>
                            <li>News</li>
                            <li>Help Desk</li>
                            <li>Support</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-4 col-lg-2 col-6">
                        <p class="footermenuheader">Legal</p>
                        <ul class="footerulli">
                            <li>Privacy Policy</li>
                            <li>Terms & Condition</li>
                            <li>Return Policy</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-2 col-6">
                        <p class="footermenuheader">Contact Us</p>
                        <ul class="footerulli1">
                            <li>
                                support@neostox.com
                            </li>
                            <li>+133-394-3439-1435</li>
                        </ul>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-12">
                        <hr class="mt-0 mb-4 hrrline">
                    </div>
                    <div class="col-md-8">
                        <p class="foottxt">
                            © Copyright <strong>Neostox</strong>. All Rights Reserved <img class="ms-2"
                                                                                           src="/Content/images/green_heart.png">
                        </p>
                    </div>
                    <div class="col-md-4 sicon text-end">
                        <ul class="social_icons">
                            <li><i class="fab fa-twitter-square"></i></li>
                            <li><i class="fab fa-facebook-square"></i></li>
                            <li><i class="fab fa-instagram"></i></i></li>
                            <li><i class="fab fa-linkedin"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal starts -->
    <div class="modal fade menupopupmobile" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="modalmenuli">
                        <li>Home</li>
                        <li>About</li>
                        <li>Videos</li>
                        <li>Features</li>
                        <li>How it Works</li>
                        <li>Back Testing <span class="ms-2 newbtn">NEW</span></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success button_success">Sign In</button>
                    <button type="button" class="btn btn-success button_success">Create Account</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal ends -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"
            integrity="sha256-spTpc4lvj4dOkKjrGokIrHkJgNA0xMS98Pw9N7ir9oI=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
            integrity="sha256-HmfY28yh9v2U4HfIXC+0D6HCdWyZI42qjaiCFEJgpo0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script type="text/javascript" src="js/slick.min.js"></script> -->
    <script type="text/javascript" src="/Content/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            $('#owl-one').owlCarousel({
                autoplay: true,
                autoPlaySpeed: 5000,
                autoPlayTimeout: 5000,
                autoplayHoverPause: true,
                loop: true,
                margin: 20,
                nav: true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            })
        });
    </script>
</body>
</html>