@{
    ViewBag.Title = "About";
}
<div class="content_main_container">
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 mb-5">
                    <h2 class="titleheader mt-5">
                        Know About <br><span style="color:#0AAD87">Neostox</span>
                    </h2>
                    <h5 class="titlesmalltxt f20 mt-4 mb-5">
                        Neostox is India’s first 100% real time trading platform with virtual
                        money to experience live trading in NSE.
                    </h5>

                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 text-end bannertxtt">
                    <img class="img-fluid bannertxt mt-5" src="/Content/images/aboutus_top.png" alt="banner-image" />
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <div class="topjumbodron aboutusbg container-fluid">
  <div class="container">
    <div class="main-container">

    </div>
  </div>

</div> -->
<div class="topjumbodron1 bg-whitediv wvr container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-7 wvrleft col-lg-6 pl-75 mb-5">
            <h2 class="titleheader2two">
                Who we are?
            </h2>
            <p class="titleheader2twoP">
                Neostox.com is a flagship product of Neostox FinTech. Conceptualized, crafted and
                developed by veteran traders having 15+ years of experience in international stock/options trading. Several
                research analysts have participated in the development of features to help you, to trade faster and earn
                profits.
            </p>
            <p class="titleheader2twoP">
                Neostox is India’s first 100% real time trading platform with virtual money to experience live trading in NSE.
                The core idea of Neostox is to help millions of traders who have good strategies, want to focus on the
                analysis and require a platform where they can trade in real time with virtual money for testing, before going
                live.
            </p>

        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 pt-5 pe-0 text-end bctest bannertxtt">
            <img class="img-fluid bannertxt mt-5 mb-5 pb-5" src="/Content/images/whoweare.png" alt="banner-image" />
        </div>
    </div>

</div>
<div class="container-fluid howitwors_bluebg">
    <div class="container">
        <div class="pricefeeddiv1">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>
                        Our endeavour is to help the traders, to try their strategies, with virtual cash before investing
                        the real money.
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid bg-whitediv">
    <div class="container">
        <div class="row ourvisionFirst">
            <div class="col-md-6 mt-4">
                <h3 class="pb-3">Our Vision</h3>
                <p>
                    More and more trading seekers should come in mainstream stock trading. <span style="color:#0AAD87;font-weight:bold;">Think Stock Trading, Think Neostox </span>–
                    Become a synonym for Stock Trading by offering learning, practicing, analyzing and trading.

                    <ul class="mt-5 ">
                        <li>Become the largest aggregator in Stock Trading Market.</li>
                        <li> Help traders to move from gut based trading to data driven & analytics based trading.</li>
                    </ul>

                </p>
            </div>
            <div class="col-md-6 text-end">
                <img src="/Content/images/ourvision.png" class="img-fluid">
            </div>
        </div>
        <div class="row ourvisionsecond">
            <div class="col-12 py-5">
                <h3>From a Beginner to <span style="color:#0AAD87;">Experienced Trader</span></h3>
                <h4>Practice will make a trader perfect</h4>
            </div>
        </div>
        <div class="row ourvisionthird">
            <div class="col-md-3 col-lg-3 mb-5 mb-lg-0">
                <div class="boxx1">
                    <h4>Beginner</h4>
                    <p>
                        Learn basics of Stock Market and trading from Neostox Academy
                    </p>
                </div>

            </div>
            <div class="col-md-3 col-lg-3 mb-5 mb-lg-0">
                <div class="boxx2">
                    <h4>Practice & Analyze</h4>
                    <p>
                        Analyze market via screeners and easy to consume high end analytics
                    </p>
                </div>

            </div>
            <div class="col-md-3 col-lg-3 mb-5 mb-lg-0">
                <div class="boxx3">
                    <h4>Trade with Real Money</h4>
                    <p>
                        Attach Demat account(s) with Neostox
                    </p>
                </div>

            </div>
            <div class="col-md-3 col-lg-3 mb-5 mb-lg-0">
                <div class="boxx4">
                    <h4>
                        Experienced Trader
                    </h4>
                    <p>
                        Make consistent profits for a good life ahead.
                    </p>
                </div>

            </div>
            <div class="col-12 text-center pt-4 ptextn">Learn from mistakes but don’t burn on mistakes </div>
        </div>
    </div>

</div>
<div class="container-fluid learnmoreediv bgblue_1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Neostox, the real stock trading experience with virtual money.</h4>
                <p class="mt-4">With Neostox, you can try all your strategies and become more experienced trader.</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3 mb-3">
                <img src="/Content/images/checked.png" class="img-fluid">
                <h3 class="botbgtxt1 mt-3">Tick by Tick Feed</h3>
                <p class="botbgtxt2 mt-3">Real time market feed of all Equities/Options/Futures/ Commodities</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/digital-money.png" class="img-fluid">
                <h3 class="botbgtxt1 mt-3">Live Market, Virtual Money</h3>
                <p class="botbgtxt2 mt-3">Real trading experience of live market with virtual money </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/charttt.png" class="img-fluid">
                <h3 class="botbgtxt1 mt-3">Options Trader</h3>
                <p class="botbgtxt2 mt-3">Automatically finds the best options to trade </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/web-analytics.png" class="img-fluid">
                <h3 class="botbgtxt1 mt-3">Neo Screener</h3>
                <p class="botbgtxt2 mt-3">Shows all equities, futures, options which are gainers/losers. Quick to find and trade! </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/analyze-img.png">
                <h3 class="botbgtxt1 mt-3">Options Analyzer</h3>
                <p class="botbgtxt2 mt-3">Shows the top 20 volatile options of any index or equity</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/real-time.png">
                <h3 class="botbgtxt1 mt-3">Index Segment Analyzer</h3>
                <p class="botbgtxt2 mt-3">Shows the movement of industry segments of top 6 inches in real time</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/equity_1.png">
                <h3 class="botbgtxt1 mt-3">Equities Analyzer</h3>
                <p class="botbgtxt2 mt-3">Shows 100 losers/gainers in real time</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/shareholders-equity-statement.png">
                <h3 class="botbgtxt1 mt-3">Index Analyzer – Holistic View</h3>
                <p class="botbgtxt2 mt-3">
                    Shows the movement of top 6 indices in real time
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-success button_success" type="button">Learn More</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-whitediv howwitwork">
    <div class="container">
        <div class="row">
            <div class="col-12 "><h4 class="hwitwrk">How it Works ?</h4></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loginExport.png">
                </div>
                <h3 class="mt-4">Register Free</h3>
                <p>
                    Registration is absolutely free
                    and takes less than 1 minute.
                </p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loginExport1.png">
                </div>
                <h3 class="mt-4">Login</h3>
                <p>
                    Login using your registered email
                    address or mobile number.
                </p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loupe.png">
                </div>
                <h3 class="mt-4">Search Instruments</h3>
                <p>Search equities/Futures/Opptions/ MCX commodities</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/trading_export.png">
                </div>
                <h3 class="mt-4">Start Trading</h3>
                <p>Easy to trade exactly like real trading with full / hedge margins.</p>
            </div>
        </div>
        <div class="row watchvideos">
            <div class="col-md-12 col-sm-12 col-12 col-lg-6 mb-4">
                <div class="d-flex align-items-center mediobj">
                    <div class="flex-shrink-0">
                        <p class="pmediatxt">Learn About Neostox</p>
                        <p class="pmediatxt1"><i class="fab fa-youtube"></i></p>
                        <img src="/Content/images/unsplash_5hcV51EeeWc.png" class="img-fluid mediobjimg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4>Learn About Neostox</h4>
                        <h5>Watch video</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12 col-lg-6">
                <div class="d-flex align-items-center mediobj">
                    <div class="flex-shrink-0">
                        <p class="pmediatxt">How to trade in Neostox</p>
                        <p class="pmediatxt1"><i class="fab fa-youtube"></i></p>
                        <img src="/Content/images/unsplash_5hcV51EeeWc.png" class="img-fluid" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4>how to trade in Neostox</h4>
                        <h5>Watch video</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- <div class="neostoxbgdiv container-fluid">
  <div class="row">
    <div class="col-md-8 pe-0 bgwave">
      <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 col-12 pl-75 mt-80">
          <h2 class="botbluetxt1">See NeoStox in action and Get your hands on our tool!</h2>
          <p class="botblustext_backtest mt-4">Extremely easy to use with real time tracking of Profit/Loss. Excellent
            features to help you trade easily in any segment you like.</p>

          <button type="button" class="mt-3 mrgbott20 btn button_getstarted me-3 white1">Get Started Now</button>

        </div>
      </div>
    </div>
    <div class="col-md-4 ps-0 wavebg_right1"></div>
    <div class="col-md-4 wavebg_rightmobile"></div>
  </div>
</div> -->
