
@{
    ViewBag.Title = "BackTestPricingPlans";
}

<div class="container-fluid">
    <div class="container">
        <div class="main-container">
            <div class="row bgimgbacktest">
                <div class="col-12 text-center pb75">
                    <p class="tptitlee">#1 Backtesting Platform In World</p>
                    <h2 class="titleheader">
                        Back Testing <span style="color:#0AAD87;">Plans</span>
                    </h2>
                    <h5 class="titlesmalltxttt mt-4 mb-5">Login, set date and time and start trading</h5>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid bcktestpricingplan bg-whitediv">
    <div class="container">
        <!-- <div class="row">
          <div class="col-md-4 h-100">
            <div class="bactstlistt">
                <h4>BackTesting</h4>
                <p>India’s first backtesting platform for equities, futures and options. Practice & test your strategies in past dates. Tick by tick Practice Feed.</p>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div> -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-4">BackTesting</h5>
                        <p class="card-text mb-4">India’s first backtesting platform for equities, futures and options. Practice & test your strategies in past dates. Tick by tick Practice Feed.</p>
                        <select class="form-select bgselectcolor mt-3" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <select class="form-select bgselectcolor mt-3" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <p style="font-size:14px;text-align: left;margin-top:10px;">Please selection from the above options </p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-4">Intellegent Alert System</h5>
                        <p class="card-text mb-4">Create custom alerts, receive the list of top equities, features, options and commodities. Options Greeks based alert system.</p>
                        <h4 class="cardinnrtxt mt-5">You already have a running 1 month backtest subscription with 1 month data duration.</h4>
                    </div>
                    <div class="card-footer">
                        <p class="validtill fw-bold">Valid till</p>
                        <p class="validdate ">14-Feb-2022</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-4">Market Analytics</h5>
                        <p class="card-text mb-5">Not just numbers, but analytics to help you with entry and exit points for faster and profitable trading.</p>
                        <select class="form-select bgselectcolor mt-3" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <select class="form-select bgselectcolor mt-3" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="card-footer">
                        <p class="validtill fw-bold">Discount 10%</p>
                        <p class="validdate fw-bold"><span class="fw-light">Amount Rs.</span> 1000.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <div class="d-flex flex-row justify-content-center">
                    <div class="buttondivv d-flex align-items-center">
                        <div class="btnleftdivv"><p class="p1div">Total Rs. 5980.00</p><p class="p2div">Included GST(18%): Rs. 900</p></div>
                        <div class="btnrightdivv ms-4">Pay Now <i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>

    </div>

</div>

