
@{
    ViewBag.Title = "BackTestHowitWorks";
}

<div class="vectorline container-fluid">
    <div class="container">
        <div class="main-container">
            <div class="row bgimgbacktest">
                <div class="col-12 text-center pb75">
                    <p class="tptitlee">#1 Backtesting Platform In World</p>
                    <h2 class="titleheader">
                        <span style="color: #0AAD87;">As Easy</span> As It Gets!
                    </h2>
                    <h5 class="titlesmalltxttt mt-4 mb-5">Login, set date and time and start trading</h5>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid bg_white">
    <div class="container">
        <div class="howitworksdiv">
            <div class="row">
                <div class="col-12">
                    <h4 class="howitworks">How it’s Works</h4>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3 howitworkcard">
                    <img src="/Content/images/user.png">
                    <h5>Select a date in the past</h5>
                    <p>Build your strategies and test them with real market data using fast forward mode</p>
                </div>
                <div class="col-md-3 howitworkcard">
                    <img src="/Content/images/schedule.png">
                    <h5>Learning Driven</h5>
                    <p>Build your strategies and test them with real market data using fast forward mode</p>
                </div>
                <div class="col-md-3 howitworkcard">
                    <img src="/Content/images/bell.png">
                    <h5>Set start time</h5>
                    <p>Build your strategies and test them with real market data using fast forward mode</p>
                </div>
                <div class="col-md-3 howitworkcard">
                    <img src="/Content/images/chartt.png">
                    <h5>Start trading!</h5>
                    <p>Build your strategies and test them with real market data using fast forward mode</p>
                </div>
            </div>
        </div>
    </div>
    <div class="howitwors_greybg">
        <div class="container">
            <div class="pricefeeddiv">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>The trade panel will show you the date and time of price feed.</h3>
                        <p>You can search and add instruments that were available on that date. You can trade just like you would be trading on that day.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>

    </div>

</div>

