
@{
    ViewBag.Title = "BackTest";
}

<div class="content_main_container">
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 mb-5">
                    <h2 class="titleheader">
                        India’s First Backtesting Platform for <span style="color:#0AAD87;">Equities, Futures</span>  and <span style="color:#0AAD87;">Options</span>
                    </h2>
                    <h5 class="titlesmalltxt mt-4 mb-5">
                        Practice & Test Your Strategies in Past Dates Tick
                        by Tick Price Feed
                    </h5>
                    <p class="mobileview">
                        <button type="button" class="btn button_getstarted me-3">Sign In</button>
                        <button type="button" class="btn button_lined">
                            Buy
                            Subscription
                        </button>
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 text-end bannertxtt">
                    <img class="img-fluid maxwidth85 bannertxt mt-5" src="/Content/images/jumbo_img.png" alt="banner-image" />
                </div>
            </div>
        </div>
    </section>
</div>

<div class="topjumbodron1 container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-7 col-lg-6 pl-75 pt-5 mb-5">
            <h2 class="titleheader2two">
                Missed the market hours?
            </h2>
            <h2 class="titleheader2two">Want to perfect your strategies?</h2>
            <h2 class="titleheader2twoGreen">Start the live market again!</h2>
            <p class="titleheader2twoP">Experience the real trading in past dates, create strategies, run them in fast forward mode, tweak them, perfect them and get ready for a profitable trading.</p>
            <p class="mobileview">
                <button type="button" class="btn button_getstarted me-3">Sign In</button>
                <button type="button" class="btn button_learnmore">
                    Buy
                    Subscription
                </button>
            </p>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 pt-5 pe-0 text-end bctest bannertxtt">
            <img class="img-fluid bannertxt mt-5" src="/Content/images/macbook_image.png" alt="banner-image" />
        </div>
    </div>

</div>
<div class="timelinediv container-fluid">

    <div class="container">
        <div id="timeline">
            <div class="timeline-item">
                <div class="timeline-icon one">
                    <img class="img-fluid" src="/Content/images/timelinechart.png" />
                </div>
                <div class="timeline-content">
                    <h3 class="timelineh2">Real Price Feed</h3>
                    <p class="timelinep">Real tick by tick price feed of past dates</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-icon two">
                    <img class="img-fluid" src="/Content/images/timeline_timetable.png" />
                </div>
                <div class="timeline-content right">
                    <h3 class="timelineh2">Switch to any date in the past</h3>
                    <p class="timelinep">Change date and time easily while practising</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-icon three">
                    <img class="img-fluid" src="/Content/images/timeline_equity.png" />
                </div>
                <div class="timeline-content">
                    <h3 class="timelineh2">Trade Equities/ Futures/ Options</h3>
                    <p class="timelinep">All equities/ futures/ options in NSE of selected date are available to trade.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-icon four">
                    <img class="img-fluid" src="/Content/images/timeline_moneybag.png" />
                </div>
                <div class="timeline-content right">
                    <h3 class="timelineh2">Basket Orders</h3>
                    <p class="timelinep">Create basket orders and execute them in isolation or combination mode</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-icon five">
                    <img class="img-fluid" src="/Content/images/timeline_purchase.png" />
                </div>
                <div class="timeline-content">
                    <h3 class="timelineh2">Various Order Type</h3>
                    <p class="timelinep">Market/Limit/MIS/Normal orders are availble</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-icon six">
                    <img class="img-fluid" src="/Content/images/timeline_search.png" />
                </div>
                <div class="timeline-content right">
                    <h3 class="timelineh2">Super Analyzers</h3>
                    <p class="timelinep">Neo-Screener, Index Analyzer, Options Analyzer, Equities analyzer are available</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-icon seven">
                    <img class="img-fluid" src="/Content/images/timeline_analyse.png" />
                </div>
                <div class="timeline-content">
                    <h3 class="timelineh2">Options Trader</h3>
                    <p class="timelinep">AI Driven Options Trader</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>
    </div>

</div>

