
@{
    ViewBag.Title = "BackTestFeature";
}

<div class="vectorline container-fluid">
    <div class="container">
        <div class="main-container">
            <div class="row bgimgbacktest">
                <div class="col-12 text-center pb130">
                    <p class="tptitlee">#1 Backtesting Platform In World</p>
                    <h2 class="titleheader">
                        Advanced Features for <br>Learning <span style="color:#0AAD87;">Driven Backtesting</span>
                    </h2>
                    <h5 class="titlesmalltxttt mt-4 mb-5">Experience the live market of a past date and practice to <br>become a professional trader </h5>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid bg-whitediv">
    <div class="container pb-5">
        <div class="featuresuneeddiv">
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <h4 class="allfeaturesh4">With All The Features You Need</h4>
                    <p class="allfeaturesp">All features that are available in our virtual trading platform are available here.</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 allfeatrs">
                <div class="col">
                    <div class="card h-100">

                        <div class="card-body">
                            <img src="/Content/images/G3.png" class="" alt="...">
                            <h5 class="card-title">Good Performance</h5>
                            <p class="card-text">Very smooth and consistent price feed</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="/Content/images/G2.png" class="" alt="...">
                            <h5 class="card-title">Learning Driven</h5>
                            <p class="card-text">Helps you to learn trading faster</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="/Content/images/G1.png" class="" alt="...">
                            <h5 class="card-title">Best Strategy Tester</h5>
                            <p class="card-text">Build your strategies and test them with real market data using fast forward mode</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 martop0">
            <div class="col-md-5 col-sm-6 col-12">
                <h2 class="realffedtitle">Real Feeds</h2>
                <ul class="bf_listitems">
                    <li>
                        <h4>Real Tick by Tick Price Feed</h4>
                        <p>When you select a date and time of past, the real tick by tick price feed starts coming in no time.</p>
                    </li>
                    <li>
                        <h4>Fast Forward Price Feed</h4>
                        <p>Fast forward the data feed and see the result of your trades within a few seconds.</p>
                    </li>
                    <li>
                        <h4>Day Change Indicator</h4>
                        <p>Whenever the day changes, it flashes to help you know about it.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-5 col-sm-6 col-12 text-end">
                <img class="img-fluid" src="/Content/images/real_feeds.png" alt="real_feeds">
            </div>
        </div>
        <div class="row d-flex mt-5">

            <div class="col-md-5 col-sm-6 col-12 text-left order-last">
                <img class="img-fluid" src="/Content/images/full_margins.png" alt="real_feeds">
            </div>
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-5 col-sm-6 col-12 order-first">
                <h2 class="realffedtitle">Hedge or Full Margins</h2>
                <ul class="bf_listitems">
                    <li>
                        <h4>Real Tick by Tick Price Feed</h4>
                        <p>When you select a date and time of past, the real tick by tick price feed starts coming in no time.</p>
                    </li>
                    <li>
                        <h4>Fast Forward Price Feed</h4>
                        <p>Fast forward the data feed and see the result of your trades within a few seconds.</p>
                    </li>
                    <li>
                        <h4>Day Change Indicator</h4>
                        <p>Whenever the day changes, it flashes to help you know about it.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5 py-5">
            <div class="col-md-5 col-sm-6 col-12">
                <h2 class="realffedtitle">Fast Trading</h2>
                <ul class="bf_listitems">
                    <li>
                        <h4>Search/Add Instruments</h4>
                        <p>You can search and add instruments (equities, futures & options) of the selected date.</p>
                    </li>
                    <li>
                        <h4>Buy/Sell</h4>
                        <p>You can buy/sell instruments exactly as you do in the live market. Following features are available in buy/Sell .</p>
                        <ul class="fasttradingli">
                            <li>Intraday (MIS) / Overnight (NRML) orders</li>
                            <li>Set target in percentage or as a price</li>
                            <li>Trade with a fixed quantity</li>
                            <li>Set trailing stop loss</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-5 col-sm-6 col-12 text-end">
                <img class="img-fluid" src="/Content/images/fast_trading.png" alt="real_feeds">
            </div>
        </div>
        <div class="row d-flex py-5">

            <div class="col-md-5 col-sm-6 col-12 text-left order-last">
                <img class="img-fluid" src="/Content/images/test_strategies.png" alt="real_feeds">
            </div>
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-5 col-sm-6 col-12 order-first">
                <h2 class="realffedtitle">Create and Test Strategies</h2>
                <ul class="bf_listitems">
                    <li>
                        <h4>Basket Orders in Isolation Mode</h4>
                        <p>You can execute baskets in isolation mode. In this mode, the trades are executed without considering the existing running orders. </p>
                    </li>
                    <li>
                        <h4>Basket Orders in Combination Mode</h4>
                        <p>In other online discount broker’s websites, where you trade with real money, the baskets are executed in combination mode.</p>
                    </li>
                    <li>
                        <h4>Create and Test Your Strategies</h4>
                        <p>You can create strategies using basket orders and test them with real data.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>
    </div>

</div>

