@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid bg-whitediv primary-spacing refer-banner">
    <div class="container">
        <h1>Get In <span style="color:#0AAD87;">Touch</span></h1>
        <p>
            Please fill up the form below and we will get back to you as soon as possible
        </p>
    </div>
</div>
<div class="container-fluid bg-whitediv get-in-touch primary-spacing">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label>Your Name</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label>E-mail Address</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label>Contact No.</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label>Subject</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-5">
                            <label>Message</label>
                            <textarea class="form-control" rows="7"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12 justify-content-center">
                        <button type="submit"
                                class="btn btn-success button_success border-0">
                            Submit
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 order-lg-1">
                <img src="/Content/images/contact.svg" alt="contact" />
            </div>
        </div>
    </div>
</div>