
@{
    ViewBag.Title = "Faq";
}

<div class="content_main_container">
    <section class="secondary-banner1">
        <div class="container">
            <h2 class="titleheader text-center">How can we help you?</h2>
            <div class="search-box">
                <img src="/Content/images/icon/search.svg" alt="search" />
                <input type="text" placeholder="Search here......." />
            </div>
        </div>
    </section>
</div>
<!-- <div class="secondary-banner container-fluid">
    <div class="container">

    </div>
</div> -->

<div class="container-fluid bg-whitediv primary-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 faq-sidebar d-none d-lg-block">
                <h3>Content</h3>
                <ul>
                    <li>
                        <a href="javascript:void(0)">General questions</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Pricing</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Plans</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Security</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 faq">
                <h3 class="accordianh2txt">Frequently Asked Questions</h3>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Is this 100% Free?
                            </button>
                        </h2>
                        <div id="flush-collapseOne"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Yes. Neostox is absolutely free to practice for lifetime.
                                    You can practice as much as you want to and there is no
                                    charge
                                </p>

                                <div class="accordion-body-footer">
                                    <p class="d-none d-md-flex">
                                        Was this helpful for you?
                                        <span>
                                            <img src="/Content/images/icon/like.svg" alt="Like" />
                                            12
                                        </span>
                                    </p>
                                    <p>
                                        Still need help?
                                        <a href="javascript:void(0)">Contact us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                What all can I trade?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Yes. Neostox is absolutely free to practice for lifetime.
                                    You can practice as much as you want to and there is no
                                    charge
                                </p>

                                <div class="accordion-body-footer">
                                    <p class="d-none d-md-flex">
                                        Was this helpful for you?
                                        <span>
                                            <img src="/Content/images/icon/like.svg" alt="Like" />
                                            12
                                        </span>
                                    </p>
                                    <p>
                                        Still need help?
                                        <a href="javascript:void(0)">Contact us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Is this 100% virtual money?
                            </button>
                        </h2>
                        <div id="flush-collapseThree"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Yes. Neostox is absolutely free to practice for lifetime.
                                    You can practice as much as you want to and there is no
                                    charge
                                </p>

                                <div class="accordion-body-footer">
                                    <p class="d-none d-md-flex">
                                        Was this helpful for you?
                                        <span>
                                            <img src="/Content/images/icon/like.svg" alt="Like" />
                                            12
                                        </span>
                                    </p>
                                    <p>
                                        Still need help?
                                        <a href="javascript:void(0)">Contact us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                How much virtual money is available?
                            </button>
                        </h2>
                        <div id="flush-collapseFour"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingFour"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Yes. Neostox is absolutely free to practice for lifetime.
                                    You can practice as much as you want to and there is no
                                    charge
                                </p>

                                <div class="accordion-body-footer">
                                    <p class="d-none d-md-flex">
                                        Was this helpful for you?
                                        <span>
                                            <img src="/Content/images/icon/like.svg" alt="Like" />
                                            12
                                        </span>
                                    </p>
                                    <p>
                                        Still need help?
                                        <a href="javascript:void(0)">Contact us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                Is data feed real?
                            </button>
                        </h2>
                        <div id="flush-collapseFive"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingFive"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Yes. Neostox is absolutely free to practice for lifetime.
                                    You can practice as much as you want to and there is no
                                    charge
                                </p>

                                <div class="accordion-body-footer">
                                    <p class="d-none d-md-flex">
                                        Was this helpful for you?
                                        <span>
                                            <img src="/Content/images/icon/like.svg" alt="Like" />
                                            12
                                        </span>
                                    </p>
                                    <p>
                                        Still need help?
                                        <a href="javascript:void(0)">Contact us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSix"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseSix">
                                What is options trader?
                            </button>
                        </h2>
                        <div id="flush-collapseSix"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingSix"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Yes. Neostox is absolutely free to practice for lifetime.
                                    You can practice as much as you want to and there is no
                                    charge
                                </p>

                                <div class="accordion-body-footer">
                                    <p class="d-none d-md-flex">
                                        Was this helpful for you?
                                        <span>
                                            <img src="/Content/images/icon/like.svg" alt="Like" />
                                            12
                                        </span>
                                    </p>
                                    <p>
                                        Still need help?
                                        <a href="javascript:void(0)">Contact us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSeven"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseSeven">
                                What is options analyzer?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingSeven"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Yes. Neostox is absolutely free to practice for lifetime.
                                    You can practice as much as you want to and there is no
                                    charge
                                </p>

                                <div class="accordion-body-footer">
                                    <p class="d-none d-md-flex">
                                        Was this helpful for you?
                                        <span>
                                            <img src="/Content/images/icon/like.svg" alt="Like" />
                                            12
                                        </span>
                                    </p>
                                    <p>
                                        Still need help?
                                        <a href="javascript:void(0)">Contact us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEight">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseEight"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseEight">
                                What is options analyzer?
                            </button>
                        </h2>
                        <div id="flush-collapseEight"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingEight"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Yes. Neostox is absolutely free to practice for lifetime.
                                    You can practice as much as you want to and there is no
                                    charge
                                </p>

                                <div class="accordion-body-footer">
                                    <p class="d-none d-md-flex">
                                        Was this helpful for you?
                                        <span>
                                            <img src="/Content/images/icon/like.svg" alt="Like" />
                                            12
                                        </span>
                                    </p>
                                    <p>
                                        Still need help?
                                        <a href="javascript:void(0)">Contact us</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid learnmoreediv bgblue_1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>
                    Neostox, the real stock trading experience with virtual money.
                </h4>
                <p class="mt-4">
                    With Neostox, you can try all your strategies and become more
                    experienced trader.
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3 mb-3">
                <img src="/Content/images/checked.png" class="img-fluid" />
                <h3 class="botbgtxt1 mt-3">Tick by Tick Feed</h3>
                <p class="botbgtxt2 mt-3">
                    Real time market feed of all Equities/Options/Futures/ Commodities
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/digital-money.png" class="img-fluid" />
                <h3 class="botbgtxt1 mt-3">Live Market, Virtual Money</h3>
                <p class="botbgtxt2 mt-3">
                    Real trading experience of live market with virtual money
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/charttt.png" class="img-fluid" />
                <h3 class="botbgtxt1 mt-3">Options Trader</h3>
                <p class="botbgtxt2 mt-3">
                    Automatically finds the best options to trade
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/web-analytics.png" class="img-fluid" />
                <h3 class="botbgtxt1 mt-3">Neo Screener</h3>
                <p class="botbgtxt2 mt-3">
                    Shows all equities, futures, options which are gainers/losers.
                    Quick to find and trade!
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/analyze-img.png" />
                <h3 class="botbgtxt1 mt-3">Options Analyzer</h3>
                <p class="botbgtxt2 mt-3">
                    Shows the top 20 volatile options of any index or equity
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/real-time.png" />
                <h3 class="botbgtxt1 mt-3">Index Segment Analyzer</h3>
                <p class="botbgtxt2 mt-3">
                    Shows the movement of industry segments of top 6 inches in real
                    time
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/equity_1.png" />
                <h3 class="botbgtxt1 mt-3">Equities Analyzer</h3>
                <p class="botbgtxt2 mt-3">Shows 100 losers/gainers in real time</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/shareholders-equity-statement.png" />
                <h3 class="botbgtxt1 mt-3">Index Analyzer – Holistic View</h3>
                <p class="botbgtxt2 mt-3">
                    Shows the movement of top 6 indices in real time
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-success button_success" type="button">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-whitediv howwitwork">
    <div class="container">
        <div class="row">
            <div class="col-12"><h4 class="hwitwrk">How it Works ?</h4></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img alt="" src="/Content/images/loginExport.png" />
                </div>
                <h3 class="mt-4">Register Free</h3>
                <p>Registration is absolutely free and takes less than 1 minute.</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img alt="" src="/Content/images/loginExport1.png" />
                </div>
                <h3 class="mt-4">Login</h3>
                <p>Login using your registered email address or mobile number.</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img alt="" src="/Content/images/loupe.png" />
                </div>
                <h3 class="mt-4">Search Instruments</h3>
                <p>Search equities/Futures/Opptions/ MCX commodities</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img alt="" src="/Content/images/trading_export.png" />
                </div>
                <h3 class="mt-4">Start Trading</h3>
                <p>
                    Easy to trade exactly like real trading with full / hedge margins.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>
    </div>

</div>


