
@{
    ViewBag.Title = "Feature";
}

<div class="content_main_container">
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 mt-3 pe-5 mbmobile0 mb-5">
                    <h2 class="titleheader pxmobile mt-5">
                        Our Excellent<br><span style="color:#0AAD87">Features</span>
                    </h2>
                    <h5 class="titlesmalltxt f20 mt-4 mb-3">Trade like a professional in Neostox. Neostox works as your assistant to help you take decisions faster with an ease. </h5>

                    <h5 class="titlesmalltxt f20 mt-4 mb-3">Designed and developed by stock trading veterans to help you analyze markets, gain insights, trade faster  for a profitable trading.</h5>

                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 mt-5 text-end bannertxtt">
                    <img class="img-fluid bannertxt" src="/Content/images/feature_topimg.png" alt="banner-image" />
                </div>
            </div>
        </div>
    </section>
</div>
<div class="topjumbodrongreen bg-whitediv featuremaindiv wvr container-fluid">
    <div class="container">

        <div class="row mt-5 mb-5 martop0_mobile">
            <div class="col-md-6 col-12 order-1 order-sm-0">
                <img class="img-fluid" src="/Content/images/Featureimgtwo.png" alt="featureimg">
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-center flex-column order-0 order-sm-1">
                <h3 class="featureetxt_h3">
                    All Equities/Futures/Options Are Available To Trade
                </h3>
                <p class="featureetxt_p">You can search and add equities/futures/options of your choice in your favorite list and then trade easily with buy/sell options.</p>
            </div>
        </div>
        <div class="row mt-5 mb-5">

            <div class="col-md-6 col-12 d-flex align-items-start justify-content-center flex-column">
                <h3 class="featureetxt_h3">
                    Real Time Market Feed
                </h3>
                <p class="featureetxt_p">The market feed is real (second by second). It is because of this all the P/L, taxes and fee are displayed in real time while the trades are active. No other platforms shows these.</p>
            </div>
            <div class="col-md-6 col-12">
                <img class="img-fluid" src="/Content/images/Fearureimg1.png" alt="featureimg">
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-6 col-12 order-1 order-sm-0">
                <img class="img-fluid" src="/Content/images/feature_imgthree.png" alt="featureimg">
            </div>
            <div class="col-md-6 col-12 d-flex align-items-start justify-content-center flex-column order-0 order-sm-1">
                <h3 class="featureetxt_h3">
                    Measure Your Progress
                </h3>
                <p class="featureetxt_p">You can view the progress as how many trades were successful, went to stoploss. All order type are available for you. Check out our auto-limit orders feature here.</p>
            </div>
        </div>
        <div class="row mt-5 mb-5">

            <div class="col-md-6 col-12 d-flex align-items-start justify-content-center flex-column">
                <h3 class="featureetxt_h3">
                    Auto-Limit Orders
                </h3>
                <p class="featureetxt_p">A unique feature where you can set the target price (in percentage) and the time you want to wait. For e.g. you can create a limit order by setting the entry price 1% below the current running LTP and wait for 10 minutes.</p>
            </div>
            <div class="col-md-6 col-12">
                <img class="img-fluid" src="/Content/images/Feature_imgfour.png" alt="featureimg">
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-6 col-12 order-1 order-sm-0">
                <img class="img-fluid" src="/Content/images/Featureimg_five.png" alt="featureimg">
            </div>
            <div class="col-md-6 col-12 d-flex align-items-start justify-content-center flex-column order-0 order-sm-1">
                <h3 class="featureetxt_h3">
                    AI Based Options Trader
                </h3>
                <p class="featureetxt_p">If you are trading in options, finding the best options in terms of their volume or spread is a daunting task. With Options trader, you just buy/sell and the rest will be done by the AI working in background.</p>
            </div>
        </div>
        <div class="row mt-5 mb-5">

            <div class="col-md-6 col-12 d-flex align-items-start justify-content-center flex-column">
                <h3 class="featureetxt_h3">
                    Powerful Options Analyzer
                </h3>
                <p class="featureetxt_p">If you are trading in options, Options analyzer will give you real-time market movement of options of selected index/equity.</p>
            </div>
            <div class="col-md-6 col-12">
                <img class="img-fluid" src="/Content/images/Feature_img_6.png" alt="featureimg">
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-6 col-12 order-1 order-sm-0">
                <img class="img-fluid" src="/Content/images/Feature_img_7.png" alt="featureimg">
            </div>
            <div class="col-md-6 col-12 d-flex align-items-start justify-content-center flex-column order-0 order-sm-1">
                <h3 class="featureetxt_h3">
                    Index/Equity Analyzer
                </h3>
                <p class="featureetxt_p">
                    If you like to analyze the indices or the equities which are market movers/shakers, this tool is designed to help you do the analysis to gain in-sights.
                    <ul>
                        <li>Indices available are Nifty 50/ Nifty 100/ Nifty Midcap 50 / Nifty Midcap 100 / Bank Nifty</li>
                        <li>View the segments under these indices.</li>
                        <li>Performance of segments along with their weightage.</li>
                        <li>Drill down to view the equities under each segment to view their performance.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row mt-5 mb-5">

            <div class="col-md-6 col-12 d-flex align-items-start justify-content-center flex-column">
                <h3 class="featureetxt_h3">
                    Dashboard/Daywise Summary/Detailed Report
                </h3>
                <p class="featureetxt_p">
                    Real-time display of dashboard containing the number of trades, taxes, fee, gross and net profit. Dashboard to help you analyze your performance.
                    <ul>
                        <li>View current day summary in real time. Helps you analyze your performance.</li>
                        <li>View last 30 days summary.</li>
                        <li>View day wise summary with quick snapshot of number of trades, P/L for each day of the last 180 days.</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6 col-12">
                <img class="img-fluid" src="/Content/images/Feature_img_8.png" alt="featureimg">
            </div>
        </div>


    </div>


</div>

<div class="container-fluid bg-whitediv howwitwork">
    <div class="container">
        <div class="row">
            <div class="col-12 "><h4 class="hwitwrk">How it Works ?</h4></div>
        </div>
        <div class="row martopmobile20 mt-5">
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loginExport.png">
                </div>
                <h3 class="mt-4">Register Free</h3>
                <p>
                    Registration is absolutely free
                    and takes less than 1 minute.
                </p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loginExport1.png">
                </div>
                <h3 class="mt-4">Login</h3>
                <p>
                    Login using your registered email
                    address or mobile number.
                </p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loupe.png">
                </div>
                <h3 class="mt-4">Search Instruments</h3>
                <p>Search equities/Futures/Opptions/ MCX commodities</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/trading_export.png">
                </div>
                <h3 class="mt-4">Start Trading</h3>
                <p>Easy to trade exactly like real trading with full / hedge margins.</p>
            </div>
        </div>
    </div>
</div>
<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>
    </div>

</div>

