@{
    ViewBag.Title = "Home Page";
}
<div class="content_main_container">
    <section class="firstsection1 align-items-center d-flex">
        <div class="container">
            <div class="row trading-platform align-items-center">
                <div class="col-md-7">
                    <h3 class="mobilepad0">
                        Super Smart<span class="highlight"><br>Trading Platform</span>
                    </h3>
                    <p class="ptext mobilepad0">Live Stocks trading with Virtual Money</p>
                    <p class="ptext breadcrumb mobilepad0">Trade > Equities | Options | Futures | Commodities</p>
                    <div class="d-flex align-items-center pt-5 mobilepad0 mobile-d-flex">
                        <div class="">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">+91</span>
                                <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="ms-3">
                            <button style="background-color: #FFD899;" class="btn">Signup</button>

                        </div>
                        <div class="ms-3">
                            <p class="spanitalictext mb-0">It's Free</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-end">
                    <img class="img-fluid" src="/Content/images/supersmart_rightimg.svg" alt="platform" />
                    <!-- <iframe width="420" height="315"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </iframe> -->
                </div>
            </div>

        </div>
    </section>
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-3 pe-0 mb-3-mobile">
                <div class="d-flex borderbgg">
                    <div class="flex-shrink-0">
                        <img src="/Content/images/icon1.svg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="mb-0">Authorised Practise Partners for <b>IITs, IIMs</b> and many colleges</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pe-0 mb-3-mobile">
                <div class="d-flex borderbgg">
                    <div class="flex-shrink-0">
                        <img src="/Content/images/icon2.svg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="mb-0">
                            <b>15 Million +</b> Orders
                            Processed everyday
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pe-0 mb-3-mobile">
                <div class="d-flex borderbgg">
                    <div class="flex-shrink-0">
                        <img src="/Content/images/icon3.svg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="mb-0"><b>1000+</b> Contests hosted for Education Instititions</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pe-0 mb-3-mobile">
                <div class="d-flex borderbgg">
                    <div class="flex-shrink-0">
                        <img src="/Content/images/icon4.svg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="mb-0">
                            <b>1000+</b> Videos on You-
                            tube made by our users.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="secondsection2">
        <div class="container">
            <div class="row">
                <div class="col-12 section2typo">
                    <h3>10 Million<span class="traderstxt">+ Traders</span></h3>
                    <h4>
                        Improving their <span class="balcktext">Trading Skills</span>, Increasing <span class="balcktext">Profitability</span>
                        <br>by <span class="balcktext">Practicing</span>
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section id="slider" class="pt-5 pb-5" style="padding:0px 40px;">
        <div class="container">
            <h3 class="text-center sliderowltext mb-4">Creating Smart & Profitable Traders</h3>
            <div class="slider">
                <div id="owl-one" class="owl-carousel">
                    <div class="item">
                        <img src="/Content/images/owlslide_1.png">
                        <div class="item_description">
                            <h2 class="m-0">Arti Mishra <span class="spanntext">Nasik</span></h2>
                            <p class="m-0">Practised for 6 months and now sopports the entire family</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Content/images/owlslide_1.png">
                        <div class="item_description">
                            <h2 class="m-0">Arti Mishra <span class="spanntext">Nasik</span></h2>
                            <p class="m-0">Practised for 6 months and now sopports the entire family</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Content/images/owlslide_1.png">
                        <div class="item_description">
                            <h2 class="m-0">Arti Mishra <span class="spanntext">Nasik</span></h2>
                            <p class="m-0">Practised for 6 months and now sopports the entire family</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Content/images/owlslide_1.png">
                        <div class="item_description">
                            <h2 class="m-0">Arti Mishra <span class="spanntext">Nasik</span></h2>
                            <p class="m-0">Practised for 6 months and now sopports the entire family</p>
                        </div>
                    </div>
                    <div class="item"><img src="/Content/images/owlslide_1.png"></div>
                    <div class="item"><img src="/Content/images/owlslide_1.png"></div>
                    <div class="item"><img src="/Content/images/owlslide_1.png"></div>
                    <div class="item"><img src="/Content/images/owlslide_1.png"></div>
                    <div class="item"><img src="/Content/images/owlslide_1.png"></div>
                    <div class="item"><img src="/Content/images/owlslide_1.png"></div>
                    <div class="item"><img src="/Content/images/owlslide_1.png"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white userjourneydiv">
        <div class="container pt-4 pb-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Priyanka’s journey of trading</h2>
                    <img class="img-fluid my-4 pt-4" src="/Content/images/userjourney.svg" alt="user journey" />
                    <button class="btn button_darktheme mt-5 mb-5">Did you do NeoStox today?</button>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="bg-lightgreen userstoriess">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="m-0">What our users love about us</h2>
            <p class="m-0">Our early users love us</p>
          </div>
          <div class="col-12">

          </div>
        </div>
      </div>
    </section> -->
    <section id="slider" class="pt-5 pb-5 bg-lightgreen userstoriess">
        <div class="container py-4">
            <div class="row">
                <div class="col-12 toptitle">
                    <h2>What our users love about us</h2>
                    <p class="ptitlee">Our early users love us</p>
                </div>
                <div class="col-12">
                    <div class="slider">
                        <div id="owl-two" class="owl-carousel">
                            <div class="item">
                                <div class="bg-white usercomments">
                                    <img width="50px" height="50px" class="img-fluid" src="/Content/images/exclamatory.svg">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit, netus faucibus luctus lacus sed iaculis. Vivamus et duis tempus gravida pellentesque. Sem magna elementum non, elementum et.</p>
                                    <h2 class="mt-4 mb-0">Gaëlle Laudet</h2>
                                    <span>CTO, Newgen</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="bg-white usercomments">
                                    <img width="50px" height="50px" class="img-fluid" src="/Content/images/exclamatory.svg">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit, netus faucibus luctus lacus sed iaculis. Vivamus et duis tempus gravida pellentesque. Sem magna elementum non, elementum et.</p>
                                    <h2 class="mt-4 mb-0">Gaëlle Laudet</h2>
                                    <span>CTO, Newgen</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="bg-white usercomments">
                                    <img width="50px" height="50px" class="img-fluid" src="/Content/images/exclamatory.svg">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit, netus faucibus luctus lacus sed iaculis. Vivamus et duis tempus gravida pellentesque. Sem magna elementum non, elementum et.</p>
                                    <h2 class="mt-4 mb-0">Gaëlle Laudet</h2>
                                    <span>CTO, Newgen</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="bg-white usercomments">
                                    <img width="50px" height="50px" class="img-fluid" src="/Content/images/exclamatory.svg">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit, netus faucibus luctus lacus sed iaculis. Vivamus et duis tempus gravida pellentesque. Sem magna elementum non, elementum et.</p>
                                    <h2 class="mt-4 mb-0">Gaëlle Laudet</h2>
                                    <span>CTO, Newgen</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="bg-lightgreen mbl py-5" style="border-top:1px solid#239F87">
        <div class="container py-4">
            <div class="row">
                <div class="col-12 text-center downloadapp">
                    <h2>
                        Download the App for
                        <br>Free Now
                    </h2>
                </div>
                <div class="col-12 py-4 text-center downloadapp">
                    <img class="img-fluid me-4" src="/Content/images/google-play-badge.svg" />
                    <img class="img-fluid" src="/Content/images/appplay.svg" />
                </div>
            </div>
        </div>
    </section>
    <div class="accordianmaindiv pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="accordianh2txt pt-5">Frequently Asked Questions</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-5 mt-5 martop20">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Is this 100% virtual money?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Real trading has an impact whereas trading with virtual money may not influence the market, will
                                    that give a real-time experience?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Will it display P&L in runtime when the orders are placed?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    How do you calculate the margin required for placing an order?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    What reports are available for analysis?
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2 mb-5 mt-5 martop20">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Is this 100% virtual money?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Real trading has an impact whereas trading with virtual money may not influence the market, will
                                    that give a real-time experience?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Will it display P&L in runtime when the orders are placed?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    How do you calculate the margin required for placing an order?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    What reports are available for analysis?
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Traders spend a lot of time to choose the best option available and
                                    placing the order. Our Options Trader widget can do this for you in just a click of a single button.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="neostoxbgdiv container-fluid">
        <div class="row">
            <div class="col-md-8 pe-0">
                <div class="col-lg-10 col-md-12 col-sm-12 col-12 pl-75 mt-80">
                    <h2 class="botbluetxt1">See Neostox In Action And Get Your Hands On Our Tool!</h2>
                    <p class="botbluetxt2 mt-4">
                        Extremely easy to use with real time tracking of Profit/Loss.<br>
                        Excellent features to help you trade easily in any segment you like.
                    </p>
                    <p class="botbluetxt3 mt-4">
                        Extremely easy to use with real time tracking of Profit/Loss.<br>
                        Excellent features to help you trade easily in any segment you like.
                    </p>
                    <button type="button" class="mt-3 mrgbott20 btn button_getstarted white">Get Started Now</button>
                </div>
            </div>
            <div class="col-md-4 ps-0 wavebg_right"></div>
            <div class="col-md-4 wavebg_rightmobile"></div>
        </div>
    </div>
    <div class="footermaindiv container-fluid">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-12 col-12 col-lg-4 col-sm-12">
                    <img src="/Content/images/neostox_footer_logo.png">
                    <p class="footerlogotxt mt-4 pe-5">
                        India’s first 100%
                        real-time trading platform
                        with virtual money to
                        experience live trading in NSE.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-2 col-6">
                    <p class="footermenuheader">Company</p>
                    <ul class="footerulli">
                        <li>About Us</li>
                        <li>Contact Us</li>
                        <li>Careers</li>
                        <li>Press</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-2 col-6">
                    <p class="footermenuheader">Product</p>
                    <ul class="footerulli">
                        <li>Features</li>
                        <li>Pricing</li>
                        <li>News</li>
                        <li>Help Desk</li>
                        <li>Support</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-4 col-lg-2 col-6">
                    <p class="footermenuheader">Legal</p>
                    <ul class="footerulli">
                        <li>Privacy Policy</li>
                        <li>Terms & Condition</li>
                        <li>Return Policy</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-2 col-6">
                    <p class="footermenuheader">Contact Us</p>
                    <ul class="footerulli1">
                        <li>
                            support@neostox.com
                        </li>
                        <li>+133-394-3439-1435</li>
                    </ul>
                </div>

            </div>
            <div class="row pb-4">
                <div class="col-12">
                    <hr class="mt-0 mb-4 hrrline">
                </div>
                <div class="col-md-8">
                    <p class="foottxt">
                        © Copyright <strong>Neostox</strong>. All Rights Reserved <img class="ms-2"
                                                                                       src="/Content/images/green_heart.png">
                    </p>
                </div>
                <div class="col-md-4 sicon text-end">
                    <ul class="social_icons">
                        <li><i class="fab fa-twitter-square"></i></li>
                        <li><i class="fab fa-facebook-square"></i></li>
                        <li><i class="fab fa-instagram"></i></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>