
@{
    ViewBag.Title = "Refer";
}

<div class="container-fluid bg-whitediv primary-spacing refer-banner">
    <div class="container">
        <h1>Welcome to our partnership program.</h1>
        <p>
            Our refer and earn program has been specially designed for you, for
            recurring monthly income. We believe in sharing and growing together!
        </p>
        <img src="/Content/images/refer.svg" class="mx-auto d-block" alt="refer" />
    </div>
</div>

<div class="container-fluid backtesttabnav primary-spacing trading-platform">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    <span class="highlight">Neostox</span> is a smart, powerful, and
                    AI-based, next generation trading platform.
                </h3>
                <ul>
                    <li>
                        To provide a superior platform to learn and practice in a live
                        market with virtual money.
                    </li>

                    <li>
                        To increase the confidence of traders by providing a free
                        platform to practice strategies, techniques,technical analysis.
                        We understand that a practiced trader will stay profitable.
                    </li>

                    <li>
                        Bring 1 Crore+ new users in the stock trading industry in the
                        next 2 years by connecting with people from all walks of life
                        (traders, young budding champs, working professionals, talent at
                        home, home makers etc.)
                    </li>

                    <li>
                        Make stock, options and future trading easy and fun, to increase
                        the trade frequency.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="/Content/images/platform.png" alt="platform" />
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-whitediv primary-spacing earning-opportunities">
    <div class="container">
        <h2>
            As your referred friends/colleagues will start
            <span>using paid services, your recurring monthly</span> income will
            start.
            <em class="highlight">Earning opportunities are:</em>
        </h2>

        <div class="row my-4 my-lg-5">
            <div class="col-md-4 my-3 my-lg-5">
                <div class="opportunity-box">
                    <img src="/Content/images/opportunities/1.png" alt="opportunities" />
                    <h3>Real Trading</h3>
                    <p>
                        Users can attach their one or more Demat accounts with Neostox
                        and start trading with live accounts. A small platform fee is
                        applicable on the trades. We will share the collected revenue
                        with you
                    </p>
                </div>
            </div>
            <div class="col-md-4 my-3 my-lg-5">
                <div class="opportunity-box">
                    <img src="/Content/images/opportunities/2.png" alt="opportunities" />
                    <h3>E-Learning Platform & Market Place</h3>
                    <p>
                        Users can attach their one or more Demat accounts with Neostox
                        and start trading with live accounts. A small platform fee is
                        applicable on the trades. We will share the collected revenue
                        with you
                    </p>
                </div>
            </div>
            <div class="col-md-4 my-3 my-lg-5">
                <div class="opportunity-box">
                    <img src="/Content/images/opportunities/3.png" alt="opportunities" />
                    <h3>Algo-Trading Platform & Marketplace</h3>
                    <p>
                        Users can attach their one or more Demat accounts with Neostox
                        and start trading with live accounts. A small platform fee is
                        applicable on the trades. We will share the collected revenue
                        with you
                    </p>
                </div>
            </div>
        </div>

        <h4>
            The opportunities to earn from Neostox are huge. To know your earning
            <span class="d-block">
                potential, please register. Registration and practicing is
                absolutely free!
            </span>
        </h4>

        <button type="button" class="btn">Refer & Start Earning</button>
    </div>
</div>

<div class="container-fluid learnmoreediv bgblue_1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>
                    Neostox, the real stock trading experience with virtual money.
                </h4>
                <p class="mt-4">
                    With Neostox, you can try all your strategies and become more
                    experienced trader.
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3 mb-3">
                <img src="/Content/images/checked.png" class="img-fluid" />
                <h3 class="botbgtxt1 mt-3">Tick by Tick Feed</h3>
                <p class="botbgtxt2 mt-3">
                    Real time market feed of all Equities/Options/Futures/ Commodities
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/digital-money.png" class="img-fluid" />
                <h3 class="botbgtxt1 mt-3">Live Market, Virtual Money</h3>
                <p class="botbgtxt2 mt-3">
                    Real trading experience of live market with virtual money
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/charttt.png" class="img-fluid" />
                <h3 class="botbgtxt1 mt-3">Options Trader</h3>
                <p class="botbgtxt2 mt-3">
                    Automatically finds the best options to trade
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/web-analytics.png" class="img-fluid" />
                <h3 class="botbgtxt1 mt-3">Neo Screener</h3>
                <p class="botbgtxt2 mt-3">
                    Shows all equities, futures, options which are gainers/losers.
                    Quick to find and trade!
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/analyze-img.png" />
                <h3 class="botbgtxt1 mt-3">Options Analyzer</h3>
                <p class="botbgtxt2 mt-3">
                    Shows the top 20 volatile options of any index or equity
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/real-time.png" />
                <h3 class="botbgtxt1 mt-3">Index Segment Analyzer</h3>
                <p class="botbgtxt2 mt-3">
                    Shows the movement of industry segments of top 6 inches in real
                    time
                </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/equity_1.png" />
                <h3 class="botbgtxt1 mt-3">Equities Analyzer</h3>
                <p class="botbgtxt2 mt-3">Shows 100 losers/gainers in real time</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/shareholders-equity-statement.png" />
                <h3 class="botbgtxt1 mt-3">Index Analyzer – Holistic View</h3>
                <p class="botbgtxt2 mt-3">
                    Shows the movement of top 6 indices in real time
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-success button_success" type="button">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-whitediv howwitwork">
    <div class="container">
        <div class="row">
            <div class="col-12"><h4 class="hwitwrk">How it Works ?</h4></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img alt="" src="/Content/images/loginExport.png" />
                </div>
                <h3 class="mt-4">Register Free</h3>
                <p>Registration is absolutely free and takes less than 1 minute.</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img alt="" src="/Content/images/loginExport1.png" />
                </div>
                <h3 class="mt-4">Login</h3>
                <p>Login using your registered email address or mobile number.</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img alt="" src="/Content/images/loupe.png" />
                </div>
                <h3 class="mt-4">Search Instruments</h3>
                <p>Search equities/Futures/Opptions/ MCX commodities</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img alt="" src="/Content/images/trading_export.png" />
                </div>
                <h3 class="mt-4">Start Trading</h3>
                <p>
                    Easy to trade exactly like real trading with full / hedge margins.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>
    </div>

</div>

