
@{
    ViewBag.Title = "Video";
}

<div class="content_main_container">
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 mt-3 mbmobile0 mb-5">
                    <h2 class="titleheader pxmobile mt-5">
                        <span style="color:#0AAD87">Neostox</span> <br>Video Tutorials
                    </h2>
                    <h5 class="titlesmalltxt f20 mt-4 mb-3">A compiled library of videos to learn stock trading on Neostox. </h5>
                    <div class="d-flex susbscribetxtmain mt-5">
                        <div class="susbscribetxtmainL">
                            <div class="imgbgdiv"><img src="/Content/images/info_iccon.png" alt="info icon" /></div>
                        </div>
                        <div class="susbscribetxtmainR ps-3">
                            <p>We are continuously adding new videos to our library.  Please subscribe to our Youtube channel.</p>
                            <a style="color:#0AAD87;font-size:14px;text-decoration: underline;font-weight:600;">subscribe</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 mt-3 text-end bannertxtt d-flex align-items-center">
                    <img class="img-fluid bannertxt" src="/Content/images/Learning_edu.png" alt="banner-image" />
                </div>
            </div>
        </div>
    </section>
</div>

<div class="topjumbodrongreen bg-whitediv wvr container-fluid">
    <div class="container">
        <div class="greendivmain">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h2 class="getchancetxt">
                        Get a chance to win prize money!
                    </h2>
                    <p class="getchancesmalltxt mt-4">If you have Youtube channel, create a video on Neostox and we will add it here on this page also. </p>
                    <button class="btn button_white mt-2 mb-4">Let's Strat</button>
                </div>
                <div class="col-12 col-sm-12 col-md-6 text-end">
                    <img class="img-fluid" src="/Content/images/g14.png" alt="getchange image" />
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-6 col-12">
                <h2 class="carousalmaintext">Video Upload by <span style="color:#0AAD87;">Neostox</span></h2>
            </div>
            <div class="col-md-6 col-12"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-carouselmain">
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_ZzOa5G8hSPI.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_5hcV51EeeWc_1.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_EMPZ7yRZoGw.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_ZzOa5G8hSPI.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_5hcV51EeeWc_1.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_EMPZ7yRZoGw.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_5hcV51EeeWc.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-6 col-12">
                <h2 class="carousalmaintext">Video Upload by <span style="color:#0AAD87;">Others Users</span></h2>
            </div>
            <div class="col-md-6 col-12"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-carouselmain">
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_9pCV2MB65y8one.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_DUmFLtMeAbQtwo.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_V9N2JGUx94Ithree.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_9pCV2MB65y8one.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_DUmFLtMeAbQtwo.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_V9N2JGUx94Ithree.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-3">
                            <img src="/Content/images/unsplash_5hcV51EeeWc.png" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Options Trading In Neostox Demo By STL | Neostox Virtual Trading Explain</h5>
                                <p class="card-text"><small class="text-muted">By Neostox Team</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="container-fluid learnmoreediv bgblue_1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Neostox, the real stock trading experience with virtual money.</h4>
                <p class="mt-4">With Neostox, you can try all your strategies and become more experienced trader.</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3 mb-3">
                <img src="/Content/images/checked.png" class="img-fluid">
                <h3 class="botbgtxt1 mt-3">Tick by Tick Feed</h3>
                <p class="botbgtxt2 mt-3">Real time market feed of all Equities/Options/Futures/ Commodities</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/digital-money.png" class="img-fluid">
                <h3 class="botbgtxt1 mt-3">Live Market, Virtual Money</h3>
                <p class="botbgtxt2 mt-3">Real trading experience of live market with virtual money </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/charttt.png" class="img-fluid">
                <h3 class="botbgtxt1 mt-3">Options Trader</h3>
                <p class="botbgtxt2 mt-3">Automatically finds the best options to trade </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/web-analytics.png" class="img-fluid">
                <h3 class="botbgtxt1 mt-3">Neo Screener</h3>
                <p class="botbgtxt2 mt-3">Shows all equities, futures, options which are gainers/losers. Quick to find and trade! </p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/analyze-img.png">
                <h3 class="botbgtxt1 mt-3">Options Analyzer</h3>
                <p class="botbgtxt2 mt-3">Shows the top 20 volatile options of any index or equity</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/real-time.png">
                <h3 class="botbgtxt1 mt-3">Index Segment Analyzer</h3>
                <p class="botbgtxt2 mt-3">Shows the movement of industry segments of top 6 inches in real time</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/equity_1.png">
                <h3 class="botbgtxt1 mt-3">Equities Analyzer</h3>
                <p class="botbgtxt2 mt-3">Shows 100 losers/gainers in real time</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/Content/images/shareholders-equity-statement.png">
                <h3 class="botbgtxt1 mt-3">Index Analyzer – Holistic View</h3>
                <p class="botbgtxt2 mt-3">
                    Shows the movement of top 6 indices in real time
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-success button_success" type="button">Learn More</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-whitediv howwitwork">
    <div class="container">
        <div class="row">
            <div class="col-12 "><h4 class="hwitwrk">How it Works ?</h4></div>
        </div>
        <div class="row martopmobile20 mt-5">
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loginExport.png">
                </div>
                <h3 class="mt-4">Register Free</h3>
                <p>
                    Registration is absolutely free
                    and takes less than 1 minute.
                </p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loginExport1.png">
                </div>
                <h3 class="mt-4">Login</h3>
                <p>
                    Login using your registered email
                    address or mobile number.
                </p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/loupe.png">
                </div>
                <h3 class="mt-4">Search Instruments</h3>
                <p>Search equities/Futures/Opptions/ MCX commodities</p>
            </div>
            <div class="col-md-3 howitsplit">
                <div class="hwitwrkimg">
                    <img src="/Content/images/trading_export.png">
                </div>
                <h3 class="mt-4">Start Trading</h3>
                <p>Easy to trade exactly like real trading with full / hedge margins.</p>
            </div>
        </div>

    </div>
</div>
<div class="subscribeyet container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 pad7percent">
                <p class="haventsubscribedtxt ">Haven't subscribed yet?</p>
                <p>
                    <button type="button" class="btn button_learnmore">
                        Buy
                        Subscription
                    </button>
                </p>
            </div>
        </div>
    </div>

</div>

